.#{$ant-pre}table-wrap {
  .#{$ant-pre}tables {
    overflow-x: auto;
    border: {
      left: 1px solid $border-color;
      top: 1px solid $border-color;
    }
    .#{$ant-pre}table-section {
      position: relative;
      &.sec-header::-webkit-scrollbar, &.sec-footer::-webkit-scrollbar {
        background-color: transparent;
        border-right: 1px solid $border-color;
      }
      .#{$ant-pre}table {
        width: 100%;
        min-width: 100%;
        table-layout: fixed;
        .table-row {
          background-color: $white-color;
          transition: background-color .2s ease-in-out;
          &:hover {
            background-color: $bg-prev-color;
          }
          .table-cell {
            padding: 2px 18px;
            height: 48px;
            border: {
              bottom: 1px solid $border-color;
              right: 1px solid $border-color;
            }
            background-color: inherit;
            transition: background-color .2s ease-in-out;
          }
          .table-cell.selected {
            background-color: $assist-color;
          }
          .table-cell.is-start {
            background-color: unset;
            border: 1px solid $assist-color;
          }
        }
        .table-row.selected {
          background-color: $assist-color;
        }
      }
    }
  }
}